Listen {{ http_port }}
<VirtualHost {{http_host }}:{{ http_port }}>
    ServerAdmin webmaster@{{ t_domain }}
    ServerName {{ t_domain }}
    ServerAlias www.{{ t_domain }}
    DocumentRoot /var/www/{{ t_domain }}/DOC_ROOT
    <Directory /var/www/{{ t_domain }}/DOC_ROOT/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    <IfModule mpm_itk_module>
	AssignUserId {{ t_domain }} {{ t_domain }}
    </IfModule>
    ErrorLog /var/www/{{ t_domain }}/logs/error.log
    CustomLog /var/www/{{ t_domain }}/logs/access.log combined
    php_admin_value error_log /var/www/{{ t_domain }}/logs/php.error.log

    php_admin_value open_basedir "/var/www/{{ t_domain }}/"
    php_admin_value upload_tmp_dir "/var/www/{{ t_domain }}/tmp"
    php_admin_value session.save_path "/var/www/{{ t_domain }}/sessions"
</VirtualHost>



